.container {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1.about-me {
  position: relative;
  text-align: center;
}
img {
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
}
.img-resize {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
.col-6 {
  vertical-align: middle;
  position: relative;
  top: 60px;
  left: 50px;
}
