.container {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1.about-me {
  position: relative;
  text-align: center;
}
img {
  vertical-align: middle;
  width: 200px;
  max-width: 100%;
  object-fit: cover;
}
}
.col-3 {
  vertical-align: middle;
}
.col-6 {
  vertical-align: middle;
  position: relative;
  top: 60px;
  left: 50px;
}
